.row , .col-md-12 , .col-md-4 , .col-md-6 , .col-md-5
{
    padding: 0px;
}
.logo-text
{
    padding: 0px;
}
.basket
{
    /*background-image: url("img/basket.png");*/
    /*background-repeat: no-repeat;*/
    /*padding:10px 10px 10px 0px;*/
    /*text-align: left;*/
}
.item-0
{
    font-size: 25px;
}
input[type="search"] {
    font-family: FontAwesome;
    font-size: 30px;
}
::-webkit-input-placeholder {
    color: gray;
    /*text-align: -webkit-right;*/
}
.slide
{
    background-image: url("img/slide.jpg");
    background-repeat: no-repeat;
}